<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<header>
    <div class="top-nav">
        <div class="left-nav">
            <a href="#">고객센터</a>
            <a href="../board/signUp.html">회원가입</a>
            <a href="../board/signIn.html">로그인</a>
        </div>
    </div>
    <div class="main-nav">
        <div class="logo">
            <a href="../board/main.html">
                <img src="../../images/shoesicon.png" alt="나이키 로고">
            </a>
        </div>
        <nav>
            <a href="../board/product.html">New</a>
            <a href="../board/product.html">Men</a>
            <a href="../board/product.html">Women</a>
            <a href="../board/product.html">Kids</a>
        </nav>
        <div class="search-cart">
            <input type="text" placeholder="검색">
            <button type="button">검색</button>
            <a href="../board/cart.html"><img src="../../images/carticon.jpg" alt="장바구니 아이콘"></a>

        </div>
    </div>
</header>
<!--footer base 위치작업 중 -->
<!--<footer>-->
<!--    <div class="footer-container">-->
<!--        <div class="footer-links">-->
<!--            <div class="footer-column">-->
<!--                <h3>고객 서비스</h3>-->
<!--                <ul>-->
<!--                    <li><a href="#">연락처</a></li>-->
<!--                    <li><a href="#">주문 배송</a></li>-->
<!--                    <li><a href="#">반품 정책</a></li>-->
<!--                    <li><a href="#">FAQ</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="footer-column">-->
<!--                <h3>회사 정보</h3>-->
<!--                <ul>-->
<!--                    <li><a href="#">소개</a></li>-->
<!--                    <li><a href="#">채용 정보</a></li>-->
<!--                    <li><a href="#">뉴스</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="footer-column">-->
<!--                <h3>팔로우</h3>-->
<!--                <ul>-->
<!--                    <li><a href="#">페이스북</a></li>-->
<!--                    <li><a href="#">트위터</a></li>-->
<!--                    <li><a href="#">인스타그램</a></li>-->
<!--                    <li><a href="#">유튜브</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="footer-bottom">-->
<!--            <p>&copy; 2024 shoes.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
</body>
</html>