<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>base</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style2.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
<!--    <link th:href="@{/js/load.js}" rel="stylesheet">-->


</head>



<body>
<header>
    <div class="top-nav">
        <div class="left-nav">
            <a href="#">고객센터</a>
            <a th:href="@{/member/signup}">회원가입</a>
            <a th:href="@{/member/signin}">로그인</a>
        </div>
    </div>
    <div class="main-nav">
        <div class="logo">
            <a th:href="@{/shoes/main}">
                <img th:src="@{/images/shoesicon.png}">
            </a>
        </div>
        <nav>
            <a th:href="@{/shoes/product}">New</a>
            <a th:href="@{/shoes/product}">Men</a>
            <a th:href="@{/shoes/product}">Women</a>
            <a th:href="@{/shoes/product}">Kids</a>
        </nav>
        <div class="search-cart">

            <a th:href="@{/shoes/register}">
                <button type="button">작성</button>
            </a>

            <a th:href="@{/shoes/product2}">
            <button type="button">검색</button>
            </a>
            <a th:href="@{/shoes/cart}"><img th:src="@{/images/carticon.jpg}" alt="장바구니 아이콘"></a>
        </div>
    </div>
</header>

<div layout:fragment="content">

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>




<th:block layout:fragment="javascript">

</th:block>

<!--footer base 위치작업 중 -->
<!--<footer>-->
<!--    <div class="footer-container">-->
<!--        <div class="footer-links">-->
<!--            <div class="footer-column">-->
<!--                <h3>고객 서비스</h3>-->
<!--                <ul>-->
<!--                    <li><a href="#">연락처</a></li>-->
<!--                    <li><a href="#">주문 배송</a></li>-->
<!--                    <li><a href="#">반품 정책</a></li>-->
<!--                    <li><a href="#">FAQ</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="footer-column">-->
<!--                <h3>회사 정보</h3>-->
<!--                <ul>-->
<!--                    <li><a href="#">소개</a></li>-->
<!--                    <li><a href="#">채용 정보</a></li>-->
<!--                    <li><a href="#">뉴스</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="footer-column">-->
<!--                <h3>팔로우</h3>-->
<!--                <ul>-->
<!--                    <li><a href="#">페이스북</a></li>-->
<!--                    <li><a href="#">트위터</a></li>-->
<!--                    <li><a href="#">인스타그램</a></li>-->
<!--                    <li><a href="#">유튜브</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="footer-bottom">-->
<!--            <p>&copy; 2024 shoes.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
</body>
</html>