<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 상세 페이지</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/productpagestyle.css">
    <script src="../../static/js/load.js" defer></script>

</head>
<body>
<div id="header-container"></div>

<div class="container">
    <div class="product-images">
        <img src="../../images/shoesimg1.PNG" alt="제품 이미지 1">
        <img src="../../images/shoesimg1.PNG" alt="제품 이미지 2">
        <img src="../../images/shoesimg1.PNG" alt="제품 이미지 3">
        <img src="../../images/shoesimg1.PNG" alt="제품 이미지 4">
    </div>
    <div class="main-image">
        <img src="../../images/shoesimg1.PNG" alt="주요 제품 이미지">
    </div>
    <div class="details">
        <h1>나이키 에어 포스 1 '07 LV8</h1>
        <p>남성 신발</p>
        <p>₩149,000</p>
        <div class="sizes">
            <div>240</div>
            <div>245</div>
            <div>250</div>
            <div>255</div>
            <div>260</div>
            <div>265</div>
            <div>270</div>
            <div>275</div>
            <div>280</div>
            <div>285</div>
            <div>290</div>
            <div>295</div>
            <div>300</div>
            <div>305</div>
            <div>310</div>
        </div>
        <div class="button">
            <button>장바구니에 추가</button>
        </div>
    </div>
</div>
<section>
<div class="reviews">
    <h2>고객 리뷰</h2>
    <div class="review-item">
        <div class="review-image">
            <img src="../../images/review1.jpg" alt="리뷰 이미지 1">
        </div>
        <div class="review-content">
            <h3>★★★★★</h3>
            <p>일단, 그간 위치를 한번도 구매하거나 써보지 않았습니다. 관심이 없었던 저...</p>
        </div>
    </div>
    <div class="review-item">
        <div class="review-image">
            <img src="../../images/review2.jpg" alt="리뷰 이미지 2">
        </div>
        <div class="review-content">
            <h3>★★★★★</h3>
            <p>예전부터 갤럭시 위치를 쓰고 있었고, 상당히 편리하다고 생각했...</p>
        </div>
    </div>
    <div class="review-item">
        <div class="review-image">
            <img src="../../images/review3.jpg" alt="리뷰 이미지 3">
        </div>
        <div class="review-content">
            <h3>★★★★★</h3>
            <p>일단 실버에대한 선택을 매우 만족합니다. 악세사리 커버 구매 해...</p>
        </div>
    </div>
</div>
</section>

</body>
</html>
