<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class="top-nav">
                <div class="left-nav">
                    <a href="#">매장 찾기</a>
                    <a href="#">고객센터</a>
                    <a href="signUp.html">회원가입</a>
                    <a href="signIn.html">로그인</a>
                </div>
            </div>
            <div class="main-nav">
                <div class="logo">
                    <a href="main.html">
                        <img src="../static/images/shoesicon.png" alt="나이키 로고">
                    </a>
                </div>
                <nav>
                    <a href="#">New</a>
                    <a href="#">Men</a>
                    <a href="#">Women</a>
                    <a href="#">Kids</a>
                </nav>
                <div class="search-cart">
                    <input type="text" placeholder="검색">
                    <button type="button">검색</button>
                    <a href="cart.html"><img src="../static/images/carticon.jpg" alt="장바구니 아이콘"></a>
                </div>
            </div>
        </header>
    </body>
<footer>

</footer>
</html>