<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="style.css">
    <script src="../js/load.js" defer></script>
</head>
<body>
<div id="header-container"></div>
<main>
    <div class="promo">
        <div class="promo-images">
            <img src="../images/nikmain1.PNG" alt="main1">
            <img src="../images/nikmain2.PNG" alt="main2">
        </div>
        <div class="promo-text">
            <h1>메인페이지 header</h1>
            <p>제품 소개</p>
        </div>
    </div>
</main>
</body>
</html>
