<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<head>
    <title>상품 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="subtitle-box">
        <h2>상품 목록</h2>
    </div>

    <div class="main-container">
        <aside class="left-nav2">
            <ul id="category-list">
                <li><a href="#" onclick="filterProducts('category1')">가격</a></li>
                <li><a href="#" onclick="filterProducts('category2')">브랜드</a></li>
                <li><a href="#" onclick="filterProducts('category3')">종류</a></li>
                <li><a href="#" onclick="filterProducts('category4')">평점</a></li>

            </ul>
        </aside>
        <section class="products">
            <div class="product-card" data-category="category1">
                <a th:href="@{/shoes/productpage}">
                    <img th:src="@{/images/shoesimg1.PNG}" alt="상품 이미지1">
                </a>
                <h3>상품 이름 1</h3>
                <p>₩100,000</p>
            </div>
            <div class="product-card" data-category="category2">
                <img th:src="@{/images/shoesimg1.PNG}" alt="상품 이미지2">
                <h3>상품 이름 2</h3>
                <p>₩120,000</p>
            </div>
            <div class="product-card" data-category="category2">
                <img th:src="@{/images/shoesimg1.PNG}" alt="상품 이미지2">
                <h3>상품 이름 2</h3>
                <p>₩120,000</p>
            </div>
            <div class="product-card" data-category="category2">
                <img th:src="@{/images/shoesimg1.PNG}" alt="상품 이미지2">
                <h3>상품 이름 2</h3>
                <p>₩120,000</p>
            </div>
            <div class="product-card" data-category="category2">
                <img th:src="@{/images/shoesimg1.PNG}" alt="상품 이미지2">
                <h3>상품 이름 2</h3>
                <p>₩120,000</p>
            </div>
            <div class="product-card" data-category="category2">
                <img th:src="@{/images/shoesimg1.PNG}" alt="상품 이미지2">
                <h3>상품 이름 2</h3>
                <p>₩120,000</p>
            </div>
            <div class="product-card" data-category="category2">
                <img th:src="@{/images/shoesimg1.PNG}" alt="상품 이미지2">
                <h3>상품 이름 2</h3>
                <p>₩120,000</p>
            </div>
            <div class="product-card" data-category="category2">
                <img th:src="@{/images/shoesimg1.PNG}" alt="상품 이미지2">
                <h3>상품 이름 2</h3>
                <p>₩120,000</p>
            </div>

            <!-- 더 많은 상품 카드를 적절한 data-category 속성을 사용하여 추가하세요. -->
        </section>
    </div>
</div>
<script src="@{/js/scripts.js}"></script>
</body>
</html>
